.aboutUs {
    min-height: 100vh;
    margin: 4rem auto;
    width: 90%;
    max-width: 200rem;
    color: #000;
}

.aboutUs__grid {
    min-height: 100vh;
}

@media screen and (min-width: 1200px) {
    .aboutUs__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }   
}

.aboutUs__grid__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

@media screen and (min-width: 1200px) {
    .aboutUs__grid__text {
        gap: 13rem;
    }
}

.aboutUs h2 {
    text-align: center;
    font-size: var(--title-fz);
    font-family: var(--inter-font);
    margin: 4rem 0;
}

.aboutUs p {
    font-size: 2.5rem;
    font-family: var(--inter-font);
    text-align: justify;
    font-weight: 600;
}

.aboutUs__image__field {
    margin-top: 2rem;
    background-image: url('../assets/devsworking.jpg');
    background-position: center;
    background-size: cover;
    height: 40rem;
    border-radius: 2rem;
}

@media screen and (min-width: 1200px) {
    .aboutUs__image__field {
        margin-top: 0;
        height: 100%;
    }
}
