@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');


:root {
  --fira-font: 'Fira Sans', sans-serif;
  --inter-font: 'Inter', sans-serif;
  --navbar-height: 7.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {

  --inter-font: 'Inter', sans-serif;
  color: #fff;
  font-size: 1.6rem;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
}
