.navigation {
    padding: 1.5rem 0;
    /* background-color: #404040; */
    background-color: transparent;
    position: fixed;
    min-width: 100%;
    z-index: 99;
    max-width: var(--navbar-height);
    transition: all 300ms;
}

.scrolled {
    background-color: rgb(25, 30, 56);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.navigation__content {
    margin: 0 auto;
    width: 90%;
    max-width: 200rem;
    display: flex;
    justify-content: space-between;
}

.navigation__title {
    font-family: var(--inter-font);
    font-size: 4rem;
    font-weight: 400;
    color: #fff;

}

.navigation__title span {
    font-weight: 900;
    background: linear-gradient(to right, #218fde 0%, #009e37 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navigation__menu--mobile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .navigation__menu--mobile-btn {
        display: none;
    }
}


.navigation__menu--mobile {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgb(25, 30, 56);
    width: 50%;
    box-shadow: 0px 4px 9px rgba(0,0,0,0.5);
    z-index: 999;
}

@media screen and (min-width: 768px) {
    .navigation__menu--mobile {
        display: none;
    }
}

.navigation__menu--mobile__actions {
    text-align: right;
    font-size: 4rem;
    height: var(--navbar-height);
    max-height: var(--navbar-height);
    padding: 2rem 1rem;
    color: red;
}

.navigation__menu--mobile ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.navigation__menu--mobile li {
    list-style: none;
    font-family: var(--inter-font);
    font-size: 2rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__menu--mobile li:hover {
    background-color: rgb(32, 38, 70);
}


.navigation__menu--desktop {
    display: none;
}

@media screen and (min-width: 768px) {   
    .navigation__menu--desktop {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50rem;
    }

    .navigation__menu--desktop li {
        list-style: none;
        font-family: var(--inter-font);
        color: #fff;
        font-size: 2.2rem;
        font-weight: 600;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        cursor: pointer;
    }

    .navigation__menu__contact-btn {
        padding: .5rem 1rem;
        border-radius: .7rem;
        background-color: rgb(24, 163, 59);
    }
}

.backdrop {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    min-height: 100vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .backdrop {
        display: none;
    }
}